*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.bat
/gradle/*
/build/*
/.idea/*
/.gradle/*
settings*
local*
*.iml
/app/libs/*
/app/build/*
build*
proguard*


